<!DOCTYPE html>
<html lang="en">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button"><a
            href="{% url 'genres' %}">Get/api/genre</a></button>
    <button class="btn btn-primary" type="button"><a
            href="{% url 'actors' %}">Get/api/actors</a></button>
    <button class="btn btn-primary" type="button"><a
            href="{% url 'directors' %}">Get/api/directors</a></button>
</div>


</body>
</html>